
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myModule" >
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plugins/angular/angular.js"></script>
    <script src="~/Scripts/spa/app.js"></script>
</head>
<body>
    <div ng-controller="SchoolController">
        <div ng-controller="StudentController">
            in student: {{message}}
        </div>
        <div ng-controller="TeacherController">
            in teacher: {{message}}
        </div>
        in School: {{message}}
    </div>
</body>
</html>
